<div class=titre>Renseignements personnel</div>
<div class="container-membre-perso">
<div class="bloc-premier">
        <div class="nom-prenom-membre">

        </div>
        <div class="photo-membre">

        </div>    
</div>
<div class="bloc-deuxieme">
    <div class="dn-membre">

    </div>
</div>
<div class="bloc-troisieme">
    <div class="piece-contrat">

    </div>
    <div class="num-piece-contrat">

    </div>
    <div class="valide-piece-contrat">

    </div>
    <div class="expire-piece-contrat">

    </div>

</div>
<div class="bloc-quatrieme">
    <div class="adresse-membre">

    </div>
</div>
<div class="bloc-cinquieme">
    <div class="tel-membre">

    </div>
    <div class="email-membre">

    </div>
</div>

<div class="bloc-sixieme">
    <div class="facebook-membre">

    </div>
    <div class="instagram-membre">

    </div>

</div>
