<!-- membres.component.html -->
<div class="table-container">

    <!--input matInput placeholder="Rechercher" [(ngModel)]="searchTerm" (keyup)="search()"-->
     
    <div class="search-container">
       
     <input type="text" [(ngModel)]="searchTerm" placeholder="Recherche...">
     <button (click)="search()">
       <i class="fas fa-search"></i>
       Rechercher</button>
   
     <label>
       <input type="radio" name="operator" [(ngModel)]="searchOperator" value="AND"> ET
     </label>
     <label>
       <input type="radio" name="operator" [(ngModel)]="searchOperator" value="OR"> OU
     </label>
   </div>
   

   <!--mat-icon>payment</mat-icon>  Icône de paiement 
   <mat-icon>credit_card</mat-icon>  Icône de carte de crédit 
   <mat-icon>monetization_on</mat-icon> Icône de monétisation
   <mat-icon>attach_money</mat-icon> Icône de montant
   <mat-icon>receipt</mat-icon> Icône de reçu
   <mat-icon>money</mat-icon> Icône d'argent
   <mat-icon>account_balance_wallet</mat-icon> Icône de porte-monnaie 
   
   <mat-icon>person</mat-icon> Icône de personne 
   <mat-icon>account_circle</mat-icon> cône de cercle de compte 
   <mat-icon>person_outline</mat-icon>  Icône de personne avec contours 
   <mat-icon>face</mat-icon>  Icône de visage 
   <mat-icon>perm_identity</mat-icon> Icône d'identité 
   <mat-icon>contact_mail</mat-icon> Icône de contact par e-mail 
   <mat-icon>contact_phone</mat-icon>  Icône de contact par téléphone 
   <mat-icon>info</mat-icon> Icône d'information 
   
   <mat-icon>store</mat-icon>  Icône de magasin 
   <mat-icon>shopping_basket</mat-icon>  Icône de panier d'achat 
   <mat-icon>local_grocery_store</mat-icon>  Icône de magasin d'alimentation 
   <mat-icon>shopping_cart</mat-icon>  Icône de chariot de magasin 
   <mat-icon>local_mall</mat-icon>  Icône de centre commercial 
   <mat-icon>storefront</mat-icon> Icône de devanture de magasin 
   <mat-icon>local_offer</mat-icon> Icône d'offre locale 
   <mat-icon>business</mat-icon>  Icône d'entreprise

   <mat-icon>account_circle</mat-icon>  Icône de cercle de compte
   <mat-icon>person</mat-icon>  Icône de personne 
   <mat-icon>person_outline</mat-icon> Icône de personne avec contours
   <mat-icon>account_box</mat-icon> Icône de boîte de compte 
   <mat-icon>verified_user</mat-icon>  Icône d'utilisateur vérifié
   <mat-icon>lock</mat-icon> Icône de verrou
   <mat-icon>vpn_key</mat-icon>  Icône de clé VPN 
   <mat-icon>security</mat-icon> Icône de sécurité 

  <mat-icon>trending_up</mat-icon>  Icône de tendance à la hausse 
  <mat-icon>attach_money</mat-icon> Icône de montant d'argent 
  <mat-icon>account_balance</mat-icon> Icône de solde de compte 
  <mat-icon>assessment</mat-icon>  Icône d'évaluation
  <mat-icon>bar_chart</mat-icon>  Icône de graphique à barre 
  <mat-icon>multiline_chart</mat-icon>  Icône de graphique à lignes multiples
  <mat-icon>show_chart</mat-icon> Icône de graphique 
  <mat-icon>pie_chart</mat-icon>  Icône de graphique circulaire -->


   <table mat-table [dataSource]="dataSource">
 
     <!-- Actions (par exemple, bouton pour voir les détails) -->
     <ng-container matColumnDef="action1">
       <th mat-header-cell *matHeaderCellDef></th>
       <td mat-cell *matCellDef="let membre">
         <button mat-icon-button matTooltip="Personnel" >
           <mat-icon >person</mat-icon></button>
       </td>
     </ng-container>
 
     <ng-container matColumnDef="action2">
       <th mat-header-cell *matHeaderCellDef></th>
       <td mat-cell *matCellDef="let membre">
        <button mat-icon-button matTooltip="Paiments" > 
            <mat-icon >monetization_on</mat-icon></button>
        </td>
     </ng-container>
 
     <ng-container matColumnDef="action3">
       <th mat-header-cell *matHeaderCellDef></th>
       <td mat-cell *matCellDef="let membre">
         <button mat-icon-button matTooltip="Store" >
           <mat-icon >storefront</mat-icon></button>
       </td>
     </ng-container>
 
     <ng-container matColumnDef="action4">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let membre">
        <button mat-icon-button matTooltip="Acces" >
          <mat-icon >account_circle</mat-icon></button>
      </td>
    </ng-container>

   

     <ng-container matColumnDef="codeMembre">
       <th mat-header-cell *matHeaderCellDef (click)="sortBy('codeMembre')">
         Code
         <span *ngIf="sortField === 'codeMembre'">
           <span *ngIf="sortDirection === 'asc'">↑</span>
           <span *ngIf="sortDirection === 'desc'">↓</span>
         </span>
       </th>
       <td mat-cell *matCellDef="let membre">{{ membre.codeMembre }}</td>
     </ng-container>
   
   
       <ng-container matColumnDef="nom">
         <th mat-header-cell *matHeaderCellDef (click)="sortBy('nom')">
           Nom
           <span *ngIf="sortField === 'nom'">
             <span *ngIf="sortDirection === 'asc'">↑</span>
             <span *ngIf="sortDirection === 'desc'">↓</span>
           </span>
         </th>
         <td mat-cell *matCellDef="let membre">{{ membre.nom }}</td>
       </ng-container>
       
       <ng-container matColumnDef="prenom">
         <th mat-header-cell *matHeaderCellDef (click)="sortBy('prenom')">
           Prenom
           <span *ngIf="sortField === 'prenom'">
             <span *ngIf="sortDirection === 'asc'">↑</span>
             <span *ngIf="sortDirection === 'desc'">↓</span>
           </span>
         </th>
         <td mat-cell *matCellDef="let membre">{{ membre.prenom }}</td>
       </ng-container>
   
       <ng-container matColumnDef="nomMagasin">
         <th mat-header-cell *matHeaderCellDef (click)="sortBy('nomMagasin')">
           Magasin
           <span *ngIf="sortField === 'nomMagasin'">
               <span *ngIf="sortDirection === 'asc'">↑</span>
               <span *ngIf="sortDirection === 'desc'">↓</span>
           </span>
       </th>
         <td mat-cell *matCellDef="let membre">{{ membre.nomMagasin }}</td>
       </ng-container>
   
       <ng-container matColumnDef="email">
         <th mat-header-cell *matHeaderCellDef>Email</th>
         <td mat-cell *matCellDef="let membre">{{ membre.email}}</td>
       </ng-container>
       
       <ng-container matColumnDef="compteFacebook">
         <th mat-header-cell *matHeaderCellDef>FaceBook</th>
         <td mat-cell *matCellDef="let membre">{{ membre.compteFacebook}}</td>
       </ng-container>
   
       <ng-container matColumnDef="numeroTelephone">
         <th mat-header-cell *matHeaderCellDef>Telephone</th>
         <td mat-cell *matCellDef="let membre">{{ membre.numeroTelephone}}</td>
       </ng-container>
       
       <ng-container matColumnDef="adressePhysique">
         <th mat-header-cell *matHeaderCellDef>Addresse</th>
         <td mat-cell *matCellDef="let membre">{{ membre.adressePhysique}}</td>
       </ng-container>
   
      
 
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
   
     </table>
   
    
     <mat-paginator #paginator
         [length]="totalElements"
         [pageSize]="pageSize"
         [pageSizeOptions]="pageSizeOptions" (page)="OnPageChange($event)"
         showFirstLastButtons="true">
     </mat-paginator>
     
 </div>
