
form {
    max-width: 100%;
    margin-left: 0 px;
    padding: 5px;
    border: 1px solid #fdfcff;
    border-radius: 5px;
    border: 1px solid  rgb(24, 9, 235);
    background-color:   #a4c8f7;
}

.formspersonnel {
    display: grid;
    grid-template-columns: repeat(12, 8.75%);
    font-size: 12px;
    gap: .20rem;
  
  
    
  }
  
  .itemNom{
    grid-row: 1 / 2;
    grid-column: 1 / 9;
    
    mat-form-field {
      width: 100%; 
      
      font-size: 12px;
      
    }
  }
  .itemPrenom{
    grid-row: 2 / 3;
    grid-column: 1 / 9;
  
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  
  
  .itemGenre{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    mat-form-field {
      width: 100%; 
      font-size: 10px;
    }
  }
  
  
  .itemPhoto{
    grid-row: 1 / 3;
    grid-column: 9/ 12;
    border-radius: 8px;
    border: 1px solid white;
    width: 100%; 
    object-fit: cover;
    display: flex;
    justify-content: center;
  
  }
  .itemDateN{
    grid-row: 3 / 4;
    grid-column: 3 / 6;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  .itemNumTel{
    grid-row: 3 / 4;
    grid-column: 6 / 9;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  .itemEmail{
   grid-row: 3 / 4;
   grid-column: 9 / 12;
   mat-form-field {
    width: 100%; 
    font-size: 12px;
  }
  }
  
  
  .itemJustificatif{
    grid-row: 6 / 7;
    grid-column: 1 / 3;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  .itemNumJustificatif{
    grid-row: 6/ 7;
    grid-column: 3 / 6;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  .itemDateDelivrance{
    grid-row: 6 / 7;
    grid-column: 6 / 9;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  .itemDateExpiration{
    grid-row: 6 / 7;
    grid-column: 9 / 12;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  
  .itemAdresse{
    
    grid-row: 8 / 9;
    grid-column: 1 / 6;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  .itemPays{
    grid-row: 9 / 10;
    grid-column: 1 / 3;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  
  .itemVille{
    grid-row: 9 / 10;
    grid-column: 3 / 6;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  .itemCodePostal{
    grid-row: 12 / 13;
    grid-column: 1 / 3;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
    
  }
  
  .itemFacebook{
    grid-row: 8 / 9;
    grid-column: 6 / 12;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  .itemInstagram{
    grid-row: 9 / 10;
    grid-column: 6 / 12;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  
  .itemGoogle{
    grid-row: 12 / 13;
    grid-column: 6 / 12;
    mat-form-field {
      width: 100%; 
      font-size: 12px;
    }
  }
  .itemConsentement{
    grid-row: 15/ 17;
    grid-column: 1 / 12;
    width: 100%;
    margin: auto;
    display:flex;
    justify-content:center;
  }
  
  
  .itemFacebook input::placeholder {
    color: #ccc; /* Couleur du texte */
    font-style: italic; /* Style de police, par exemple italique */
    font-size: 1.0em; /* Taille de la police */
  }
  
  .itemInstagram input::placeholder {
    color: #ccc; /* Couleur du texte */
    font-style: italic; /* Style de police, par exemple italique */
    font-size: 1.0em; /* Taille de la police */
  }
  
  .itemGoogle input::placeholder {
    color: #ccc; /* Couleur du texte */
    font-style: italic; /* Style de police, par exemple italique */
    font-size: 1.0em; /* Taille de la police */
  }
  
  .itemCodePostal input::placeholder {
    color: #999; /* Couleur du texte */
    font-style: italic; /* Style de police, par exemple italique */
    font-size: 1.0em; /* Taille de la police */
  }
  
  .itemNumTel input::placeholder {
    color: #999; /* Couleur du texte */
    font-style: italic; /* Style de police, par exemple italique */
    font-size: 1.0em; /* Taille de la police */
  }
  
  .itemEmail input::placeholder {
    color: #999; /* Couleur du texte */
    font-style: italic; /* Style de police, par exemple italique */
    font-size: 1.0em; /* Taille de la police */
  }
  
  